<div class="row pb-1" style="margin-top: 60px;">
    <div class="col-12 text-end">
        <button class="btn btn-success" (click)="getallappoints()" >All </button>
        <button class="btn btn-primary" (click)="gettodayallappoints()">Todays </button>
    </div>
</div>
<div class="container" style="margin-top: 10px," *ngFor="let item of getallarray">
    <div class="row"  >
        <div class="col-lg-8" id="col" >
            <div class="card card-margin-8" >
                <div class="card-header no-border">
                    <h5 class="card-title">{{item.name}}</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">{{item.appointmentNo}}</span> 
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title"></span>
                                <span class="widget-49-meeting-time">{{item.appointmentDate |date:'dd-MMM-yy' }} Time: {{item.appointmentTime}}</span>
                            </div>
                        </div>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-success" *ngIf="item.isDone" > Done</a>
                            <a href="#" class="btn btn-sm btn-outline-primary" (click)="markapp(item.appointmentId)"  *ngIf="!item.isDone">Mark Done</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>