


/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
     width: 100%;
     height: 100%;
}
.form-control {
    border: 1px solid black !important;
}

.form-select {
    border: 1px solid black !important;
}
.navbar {
    background-color: #1e6a99 !important;
    color: white !important;
}
 